<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/dash'); %>
</head>

<body>
    <%- include('../partials/header'); %>
    <div class="sidebar">
        <a href="/main">Home</a>
        <a href="/filter_products">Dashboard</a>
        <a class="active" href="/reports">Reports</a>
        <a href="/filter_stockchange">History</a>
        <a href="/logout">Log off</a>
    </div>

    <div class="content">
        <main>
            <div>
                <center>
                    <button class="print-hide" onclick="location.href='/reports?nfilter=&filter='">Show All</button>
                    <form method="GET" action="/reports">
                        <div class="print-hide">
                            <button onclick="window.print()">Print Report</button><br>
                            <form method="GET" action="/reports">
                                <label for="nfilter">Filter by Product Name:</label>
                                <input type="text" id="nfilter" name="nfilter" placeholder="Enter Product Name" value="<%= nfilter %>" />
                                <label for="filter">Category:</label>
                                <select name="filter" id="filter">
                                    <option value="">All</option>
                                    <option value="beverage" <%= filter === 'beverage' ? 'selected' : '' %>>Beverage</option>
                                    <option value="snack" <%= filter === 'snack' ? 'selected' : '' %>>Snack</option>
                                    <option value="alcohol" <%= filter === 'alcohol' ? 'selected' : '' %>>Alcohol</option>
                                    <option value="cigarette" <%= filter === 'cigarette' ? 'selected' : '' %>>Cigarette</option>
                                    <option value="other" <%= filter === 'other' ? 'selected' : '' %>>Other</option>
                                </select>
                                <input type="submit" value="Filter" />
                            </form>
                        </div>

                    <h2><%= locals.tagline %></h2>
                    <table class="table table-hover scrolldown">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Onhand</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (locals.lowproduct && locals.lowproduct.length) { %>
                                <% locals.lowproduct.forEach(function(lowproducts) { %>
                                    <tr style="font-weight:normal">
                                        <td><%= lowproducts.s_name %></td>
                                        <td>$<%= lowproducts.s_price %></td>
                                        <td><%= lowproducts.s_category %></td>
                                        <td><%= lowproducts.instock %></td>

                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr><td colspan="3">No products found.</td></tr>
                            <% } %>
                        </tbody>
                    </table><br>

                    <h2><%= locals.tagline2 %></h2>
                    <table class="table table-hover scrolldown">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Onhand</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (locals.outproduct && locals.outproduct.length) { %>
                                <% locals.outproduct.forEach(function(outproducts) { %>
                                    <tr style="font-weight:normal">
                                        <td><%= outproducts.s_name %></td>
                                        <td>$<%= outproducts.s_price %></td>
                                        <td><%= outproducts.s_category %></td>
                                        <td><%= outproducts.instock %></td>

                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr><td colspan="3">No products found.</td></tr>
                            <% } %>
                        </tbody>
                    </table>
                </center>
            </div>
        </main>
    </div>
</body>
</html>