<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
            <center><table style="table-layout: fixed; width: 100%;">
                <tr>
                    <th colspan="3">
                    <div class="jumbotron">
                         <center><ul><h2><%= locals.tagline %></h2></ul>
                        <ul style="list-style: none;">
                            <% if (locals.resident) { %>

                                <% locals.resident.forEach(function(residents) { %>
                                    <li>
                                        First Name: <%= residents.firstname %><br>
                                        Last Name: <%= residents.lastname %><br>
                                        Age: <%= residents.age %><br>
                                        Room: <%= residents.room %><br>
                                    </li><br>
                                <% }); %>
                               
                            <% } %>
                            
                        </ul></center>
                    </div>
                </th>
                </tr>
                <tr> 
                    <th>
                    <div class="jumbotron">
                            <form action="/add_resident" method="post">
                                <h2>Add Resident</h2>
                                <div class="form-group">
                                    <label class="form-label"> Insert Resident First Name:</label>
                                    <input type="text" id="residentfname" name="residentfname" class="form-control" placeholder="Resident First Name" required
                                    autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Insert Resident Last Name:</label>
                                    <input type="text" id="residentlname" name="residentlname" class="form-control" placeholder="Resident Last Name" required
                                    autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Insert Resident Age:</label>
                                    <input type="text" id="residentage" name="residentage" class="form-control" placeholder="Resident Age" required
                                    autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Insert Resident's Room Number:</label>
                                    <input type="text" id="residentroom" name="residentroom" class="form-control" placeholder="Resident's Room" required
                                    autofocus>
                                </div>
                                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add">
                            </form>
                    </div>
                </th>
                    <th>
                    <div class="jumbotron">
                        <form action="/update_resident" method="post">
                            <h2>Update Resident of Room</h2>
                            <div class="form-group">
                                <label class="form-label"> Insert Room Number:</label>
                                <input type="text" id="roomnum2" name="roomnum2" class="form-control" placeholder="Room Number" required
                                autofocus>
                            </div>
                            <div class="form-group">
                                <label class="form-label"> Insert New Resident First Name:</label>
                                <input type="text" id="nresidentfname" name="nresidentfname" class="form-control" placeholder="New Resident First Name" required
                                autofocus>
                            </div>
                            <div class="form-group">
                                <label class="form-label"> Insert New Resident Last Name:</label>
                                <input type="text" id="nresidentlname" name="nresidentlname" class="form-control" placeholder="New Resident Last Name" required
                                autofocus>
                            </div>
                            <div class="form-group">
                                <label class="form-label"> Insert New Resident Age:</label>
                                <input type="text" id="nresidentage" name="nresidentage" class="form-control" placeholder="New Resident Age" required
                                autofocus>
                            </div>
    
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update">
                        </form>
                    </div>
                </th>
                <th>
                <div class="jumbotron">
                    <form action="/delete_resident" method="post">
                        <h2>Delete Resident by Room</h2>
                        <div class="form-group">
                            <label class="form-label"> Insert Resident's Room:</label>
                            <input type="text" id="roomnum2" name="roomnum2" class="form-control" placeholder="Resident's Room" required
                            autofocus>
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Delete">
                    </form>
                </div>
                </th>
                </tr>
            </table></center>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>